/ - if session[:username] != nil

h1 Welcome, you are logged in as #{session[:username]}
p
    a href="/blogg_create" create post

p
    a href="/logout" logout

p
    a href="/post_all" Posts

/ - posts.each do |posts|
    
/         h3 = post["upvote_counter"]
/         h2 
/             a href="post/#{post["postID"]}" = post["title"]
/         p = post["text"]
/         br
/         p written #{post["time"]} by <a href="user/#{post["userID"]}"> #{post["username"]} </a>